.navbar > a{
    display: inline-block;
    box-sizing: border-box;
    width: 80px;
    padding: 5px;
    margin: 0 8px 8px;
    background: lightblue;
    text-align: center;
    font-size: min(15vw, 15px) ;
    color: 46465C;
}
  
a.active {
    background: black;
    color: D1782E;
}