body {
  font-family: Monospace, sans-serif;
  background: white
 
}

/* code {
  font-family: Monospace, sans-serif;                
} */
 header {
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Space items evenly */
  padding: 20px;
}

.logo-name {
  font-size: 24px;
  margin: 0;
}

.navbar {
  display: flex;
  gap: 15px; 
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px; /* Rounded corners */
}

.navbar a:hover {
  text-decoration: underline;
}

.image-container {
  display: flex;
  flex-direction: row; /* Arrange images in a horizontal line */
  flex-wrap: wrap; /* Optional: wrap to the next line if there are too many images */
}

.place-image {
  width: 500px;  /* Set your desired width */
  height: 500px; /* Set your desired height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  margin: 5px; /* Optional: add some space between images */
}